body {
    display: flex ;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: #e8b05c;
    /* pointer-events: none; */
}
.container {
    width: 400px;
    max-width: 600px;
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.425);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #00bbff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.425);
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}